textarea{
    width: 100% !important;
    height: 200px;
}
input, textarea{
    border: 1px solid #4db6ac !important;
    border-left: 3px solid #4db6ac !important;
    padding-left: 10px !important;
}
input:focus{
    border: 1px solid #00695c !important;
    border-left: 3px solid #00695c !important;
}

.request{
    padding: 10px;
}

.request p{
    margin: 3px;
}

.request ul{
    margin-left: 30px;
}

.request ul li{
    list-style: square;
    padding-left: 10px;
}

.title-label-get{
    padding: 10px 0px;
    border: 1px solid #4fc3f7;
    color: #4fc3f7;
}

.title-label-get>.title-type-get{
    padding: 9px 10px;
    background-color: #4fc3f7;
    color: #fff3e0;
}

.title-label-post{
    padding: 10px 0px;
    border: 1px solid #3f51b5;
    color: #3f51b5;
}

.title-label-post>.title-type-post{
    padding: 9px 10px;
    background-color: #3f51b5;
    color: #fff3e0;
}

.title-label-put{
    padding: 10px 0px;
    border: 1px solid #ef6c00;
    color: #ef6c00;
}

.title-label-put>.title-type-put{
    padding: 9px 10px;
    background-color: #ef6c00;
    color: #fff3e0;
}

.text-get{
    color: #4fc3f7;
}

.text-post{
    color: #3f51b5;
}

.text-put{
    color: #ef6c00;
}